<div class="page-width">
  <header class="section-header text-center">
    <h1 class="section-header__title h2">{{ page.title }}</h1>
  </header>
  <div class="grid">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">
      <div class="rte">
        {{ page.content }}
        <style>
            html, body {
                position: relative;
            }

            .quench-btn {
                position: absolute;
                right: 41%;
                background-color: rgb(39,79,106);
                border: none;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 10px;
            }

            #quench-a {
                color: white;
            }

            #mission > h4 {
                margin: 0 0 20px 0;
                padding: 0;
            }

            @media only screen and (max-width: 600px) {
                   .quench-btn {
                        position: absolute;
                        right: 33%;
                        margin-top: -2px;
                        margin-bottom: 20px;
                    }
            }

        </style>
        <button class="quench-btn">
                <a href="https://quench-brewery.myshopify.com/collections/our-beer" id="quench-a">Quench Thirst</a>
           
        </button>
      </div>
    </div>
  </div>
</div>
